#System Configuration Settings File
#Use this file to edit your default settings for Differentia
#
#Default Fillers
default_color=000000
default_degree=3
default_method=Euler's Method
default_step_count=1000
default_dx=0.01
#Default Graph Details
default_x_label=x
default_y_label=y
default_title_label=Differential Equations
default_grid_status=True
default_axis_restraint=None
default_graph_style=ggplot